:root {
  --menu_color: #f93c1b;
  --main_menu: #d47609;
  --light_color_header: white;
  --light_bg_header: #e4dcdc;
  --white: #fff;
  --after-touch-white-header: #ffffffc7;
  --website-main-color: #187210b9;
  --black: black;

  --cambria: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}